.tab {
  border: 1px solid var(--mantine-color-gray-2);
  background-color: transparent;
  color: var(--mantine-color-dark);
  cursor: pointer;
  border-bottom: none;

  &:hover {
    background-color: var(--mantine-color-gray-2);
  }

  & + & {
    border-left-width: 0;
  }

  &[data-active] {
    border-bottom: 2px solid var(--mantine-color-blue-filled);
    color: var(--mantine-color-blue-filled);
    background-color: transparent;
  }
}
